body {

    background-color: #f3ebe4;
    
    display: block;
    justify-content: center;
  
}

img {
    width: 400px;
    height:auto;
}

img.button-img {
    width: 10px;
    height: auto;
}


.div-parent{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 680px;
    width: 400px;
    left: 0;
    right:0;
    bottom: 0;
    top: 30px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;

}

.div-child-text {
    
    padding: 25px 50px 40px 35px;
    
}

.div-child-text-1 {
    font-family: 'Red Hat Display', sans-serif;
   
    color: gray;
}

.div-child-text-2 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 35px;
}

.div-child-text-3 {

    margin-top: 20px;
    color: gray;
    font-family: 'Red Hat Display', sans-serif;
    font-size: medium;
}

.div-child-text-4 {

    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content:first baseline
}
.div-child-text-4-1 {

    font-size: 30px;
    color: #387e64;
    font-weight: bold;
}

.div-child-text-4-2 {

    margin-left: 10px;
    font-size: 20px;
    color: gray; 
    text-decoration: line-through;
}




button {

    margin-top: 30px;
    background-color: #387e64;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    color:white;
    font:large;
    font-family: 'Red Hat Display', sans-serif;
}

button:hover {
    background-color: #313f2d;
}

.attribution { font-size: 11px; text-align: center; position: absolute; bottom: 50px; width: 100%;}
.attribution a { color: hsl(228, 45%, 44%); }